@import '../../styles/variables.scss';

.area{
  height: 100%;
  padding: 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $additional_dark;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: $additional_light;
  }

  &__message {
    display: flex;
    flex-direction: column;

    &__nameSen {
      text-align: right;
      font-size: 13px;
      font-weight: 600;
      margin: 5px;
      color: $primary-light;
    }

    &__nameRes {
      text-align: left;
      font-size: 13px;
      font-weight: 600;
      margin: 5px;
      color: $secondary-light_add;
    }

    &__recipiens{
      background: $secondary-light_add;
      padding: 10px;
      max-width: 250px;
      font-size: 15px;
      border-radius: 10px;
      overflow: hidden;
      word-wrap: break-word;
      color: $text-secondary-color;
      align-self: flex-start;
    }

    &__sender{
      background: $secondary-color;
      padding: 10px;
      max-width: 250px;
      font-size: 15px;
      border-radius: 10px;
      margin-left: auto;
      overflow: hidden;
      word-wrap: break-word;
      color: $text-secondary-color;
    }

    span {
      font-style: italic;
      font-size: 12px;
    }
  }
}

.area > * {
margin-bottom: 10px;
}
