@import '../../styles/variables.scss';

.chat{
  flex: 5;
  padding: 20px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__send{
    display: flex;
    align-items:center;
    justify-content: center;

    &__sort {
      color: $primary-color;
      font-size: 30px;
    }
  }
}

