@import '../../../styles/variables.scss';

.form {
  width: 100%;
  height: 100%;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}
