@import '../../styles/variables.scss';

.header {
  background: $primary-color;
  color: $text-color;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}